.ar{
    width: 100%;
    height: 700px;
}
.pp{
    margin-top: 50px;
    height: 300px;
    width: 500px;
}
h4{
    justify-content: center;
    text-align: center;
}
p{
    justify-content: center;
    text-align: center;
}
.fg{
    justify-content: center;
    text-align: center;
}
h5{
    text-align: center;
    
}
.asd{
    height: 500px;
    width: 1000px;
}
.dsa{
   height: 500px;
   width: 800px;
}
.tp{
    margin-left: 170px;
}
.ui{
    margin-left: 30px;
}
.we{
    color: white;
}